<div class="p-5">
    <h3>New Order</h3>
    <i class="text-muted" *ngIf="!items.length && !currentOrder.items.length">
        <h5>No items found. Add items to create a new order</h5>
    </i>

    <div class="d-flex flex-row justify-content-between align-items-start">

        <div class="w-100" [class.w-45]="currentOrder.items.length" style="transition: width 0.5s; height: 1s;"
            *ngIf="items.length">
            <ul class="list-group mt-3" *ngFor="let item of items;">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a>{{ item.name }}</a>
                    <div class="d-flex flex-row align-items-center">

                        <mat-chip-list class="mr-2">
                            <mat-chip>${{item.price}}</mat-chip>
                            <mat-chip color="{{item.type === 'item' ? 'primary' : 'accent'}}" selected>{{item.type}}</mat-chip>
                        </mat-chip-list>

                        <button mat-fab color="primary" matTooltip="Add to order" class="p-0"
                            (click)="addToOrder(item)">
                            <mat-icon class="">add</mat-icon>
                        </button>

                    </div>
                </li>
            </ul>
        </div>

        <div class="d-none border py-3 mt-3 w-50 bg-white" [ngClass]="{'d-block': currentOrder.items.length, 'w-100': !items.length}">
            <div class="text-center">
                <h4>Current order</h4>

                <div class="p-5">

                    <table class="w-100 text-left p-5">
                        <thead>
                            <tr class="border-bottom">
                                <th class="w-60">Name</th>
                                <th class="w-10">Clear</th>
                                <th class="w-10">Quantity</th>
                                <th class="w-10">Price</th>
                                <th class="w-10">Total</th>
                            </tr>
                        </thead>

                        <tr *ngFor="let item of currentOrder.items" class="border-bottom">
                            <td>{{item.name}}</td>
                            <td>
                                <mat-icon class="text-danger cursor-pointer" (click)="removeFromOrder(item)">clear
                                </mat-icon>
                            </td>
                            <td>
                                <input type="number" min=1 class="form-control quantity-input"
                                    [(ngModel)]="item.quantity">
                            </td>
                            <td>
                                ${{item.price}}
                            </td>
                            <td>
                                ${{(item.price * item.quantity).toFixed(2)}}
                            </td>
                        </tr>

                        <tr></tr>
                        <tr></tr>

                        <tfoot>
                            <tr>
                                <td class="font-weight-bold">Total</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>${{getOrderTotal()}}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

            <div class="d-flex justify-content-center">
                <button mat-raised-button color="primary" (click)="createOrder()">Create</button>
            </div>
        </div>

    </div>
</div>