<h1 mat-dialog-title>
    Add new user
</h1>

<div mat-dialog-content>
    <form class="form-signin" [formGroup]="signupForm" (ngSubmit)="onSubmit()">

        <div class="form-group">

            <label>Username</label>

            <input type="text" formControlName="username" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.username.errors }" placeholder="Username"
                required>

            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Username is required</div>
            </div>

        </div>

        <div class="form-group">
            <label for="password">Password</label>

            <div class="input-group">
                <input type="password" formControlName="password" class="form-control"
                    [type]="hide ? 'password' : 'text'"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                    placeholder="Password" required>
                <div class="input-group-append">
                    <span class="input-group-text cursor-pointer noselect" (click)="hide = !hide">
                        <mat-icon matSuffix>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </span>
                </div>
            </div>

            <div *ngIf="submitted && f.password.errors" class="invalid-feedback d-block">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters
                </div>
            </div>

        </div>

        <div class="form-group">
            <label>Confirm password</label>

            <div class="input-group">
                <input type="password" formControlName="confirmPassword" class="form-control"
                    [type]="hide ? 'password' : 'text'"
                    [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
                    placeholder="Password" required>
                <div class="input-group-append">
                    <span class="input-group-text cursor-pointer noselect" (click)="hide = !hide">
                        <mat-icon matSuffix>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </span>
                </div>
            </div>

            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback d-block">
                <div *ngIf="f.confirmPassword.errors?.MatchPassword">Password don't match</div>
            </div>

        </div>

    </form>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="onDismiss()">Cancel</button>
    <button mat-raised-button color="primary" (click)="onConfirm()">Add User</button>
</div>